<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
        <title>Request Help - TechBuddy</title>
    </head>
    <body>
        <h1>Need Tech help? 🖥️</h1>
        <h2>Some details before we can start...</h2>
        <form action="/submit-request" method="post" onsubmit="return validateForm()">
            
        <label for="username">Username:</label><br>
        <input type="text" name="username" id="username" required><br><br>

        <label for="password">Password:</label><br>
        <input type="password" name="password" id="password" required><br><br>
        <small>Password must be at least 8 characters long, contain at least one number, one lowercase letter, one uppercase letter, and one special character.</small><br><br>

        <label for="confirm_password">Confirm Password:</label><br>
        <input type="password" name="confirm_password" id="confirm_password" required><br><br>
    
        <label for="country"> Enter your country:</label><br>
        <input type="text" name="country" id="country" ><br><br>

        <label for="city"> Enter your city:</label><br>
        <input type="text" name="city" id="city" ><br><br>
        
        <label for="phone_number"> Enter you phone number:</label>
        <input type="text" name="phone_number" id="phone_number" ><br><br>

        <label for=payment> Are you willing to pay for help?</label><br>
        <input type="radio" id="yes_payment" name="payment" value="yes"> Yes
        <input type="radio" id="no_payment" name="payment" value="no"> No<br><br>
        
        <label for="video_help">Do you know how to set up a video call for remote help?</label><br>
        <input type="radio" id="yes_video" name="video_help" value="yes" onclick="preferred_video_way()"> Yes
        <input type="radio" id="no_video" name="video_help" value="no" onclick="preferred_video_way()"> No<br><br>

        <div id="pref_video_way" style="display:none;"> <!--does not appear until the user fill they can set up a video call-->
            <label for="email">Your preferred way:</label><br>
            <input type="radio" id="whatsapp_video" name="preferred_vid">WhatsApp video call 
            <input type="radio" id="zoom_video" name="preferred_vid"> Zoom video call<br><br> 
        </div>

        <label for="yes_email">Can we send you an email when someone can help you?</label><br>
        <input type="radio" id="yes_email" name="approve_by_email" value="yes" onclick="enter_your_email()" > Yes
        <input type="radio" id="no_email" name="approve_by_email" value="no" onclick="enter_your_email()" > No<br><br>

        <div id="email_field" style="display:none;"> <!--does not appear until the user approves us to send him emails-->
            <label for="email">Your email:</label><br>
            <input type="email" id="email" name="email"><br><br>
        </div>

        <button type="submit">Create my account!</button> <br>
    </form>
    <button onclick="goBack()">Go Back to Home</button>
    </body>
</html>